* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}

.main-title {
    text-align: center;
}

#player,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#enemy_fly,
#enemy_plant,
#enemy_spider_big,
#fire,
#collision {
    display: none;
}