* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
}

.main-title {
    text-align: center;
}

#player {
    display: none;
}